<h1>Discards#edit</h1>
<p><%= @msg %></p>

<% if @discard.errors.any? %>
<ul>
    <%= @discard.errors.full_messages.each do |err| %>
        <li><%= err %></li>
    <% end %>
</ul>
<% end %>


<%= form_for(@discard, url:{controller:'discards', action:'edit'}) do |form| %>
<table>
    <tr><th>作成ID</th>
        <td><%= form.number_field :itemcreate_id %></td></tr>
    <tr><th>商品名</th>
        <td><%= @itemcreate.iteminfo.name %></td></tr>
    <tr><th>個数</th>
        <td><%= form.number_field :discardcount %></td></tr>
    <tr><th>メモ</th>
        <td><%= form.text_area :memo, { cols:40, rows:10 } %></td></tr>
    <tr><th></th>
        <td><%= form.submit "送信" %></td></tr>
</table>
<% end %>

<hr>

<table>
    <tr><th>作成ID</th><th>商品名</th><th>作成個数</th><th>残り販売可能時間</th><th>販売個数</th><th>廃棄時間</th></tr>
    <% @itemcreates.each do |create| %>
    <tr>
        <td><%= create.id %></td>
        <td><%= create.iteminfo.name %></td>
        <td><%= create.createcount %></td>
        <td><%= (create.iteminfo.itemtime - ((Time.new - create.created_at).to_f / 3600.0)).to_i %>時間</td>
        <td><%= create.buycount %></td>
        <td><%= (create.created_at + create.iteminfo.itemtime * 3600).strftime("%c") %></td>
    </tr>
    <% end %>
</table>