<h1>商品作成情報</h1>
<p><%= @msg %></p>

<% if @itemcreate.errors.any? %>
<ul>
    <%= @itemcreate.errors.full_messages.each do |err| %>
        <li><%= err %></li>
    <% end %>
</ul>
<% end %>


<%= form_for(@itemcreate, url:{controller:'itemcreates', action:'add'}) do |form| %>
<table>
    <tr><th>商品ID</th>
        <td><%= form.number_field :iteminfo_id %></td></tr>
    <tr><th>作成個数</th>
        <td><%= form.number_field :createcount %></td></tr>
    <tr><th></th>
        <td><%= form.submit "送信"%></td></tr>
</table>
<% end %>
<hr>

<h4>商品IDと商品名の組み合わせです</h4>
<table>
    <tr><th>商品ID</th><th>商品名</th></tr>
    <% @iteminfos.each do |info| %>
    <tr>
        <td><%= info.id %></td>
        <td><%= info.name %></td>
    </tr>
    <% end %>
</table>