<div class="body-title"><%= Genre.find(@genre).name %>の商品情報</div>

<div class="genres">ジャンルごとの商品情報</div>
<div class="genre-nav">
    <div class="col-12 clearfix">
        <div class="float-left">
        <% @genres.each do |genre|%>
            <div class="inline-blocks"><a href="/iteminfos/genre/<%= genre.id %>"><%= genre.name %></a></div>
        <% end %>
        </div>
    </div>
</div>

<hr>

<table class="table table-bordered">
    <thead><tr><th>商品ID</th><th>商品名</th><th>商品画像</th><th>販売可能時間</th><th>ジャンル名</th><th></th></tr></thead>
    <% @datas.each do |obj| %>
    <tr>
        <td><%= obj.id %></td>
        <td><%= obj.name %></td>
        <td></td>
        <td><%= obj.itemtime %>時間</td>
        <td><%= obj.genre_id %></td>
        <td><a href="/iteminfos/edit/<%= obj.id %>">更新</a></td>
    </tr>
    <% end %>
</table>

<p><a href="/iteminfos/add">＞＞新規作成</a></p>


<script>
function delData(num) {
    if (confirm('このデータを削除しますか？')){
        document.location = "/iteminfos/delete/"+num;
    }
    return false;
}
</script>