<h1>販売商品データの表示</h1>

<ul id = "nav">
<% @genres.each do |genre|%>
    <li><a href="/famimain/genre/<%= genre.id %>"><%= genre.name %></a></li>
<% end %>
</ul>

<hr>

<h3>要廃棄登録データ</h3>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr><th>作成ID</th><th>商品名</th><th>販売個数</th><th>販売可能時間</th><th>ジャンル名</th><th></th><th>商品状態</th></tr>
    </thead>
    <% @data.each do |obj| %>
        <% if Famimain.new.timecalnos(obj.iteminfo.itemtime, obj.created_at) < 0 && Discard.find_by(itemcreate_id: obj.id) == nil %>
        <tr>
            <td><%= obj.id %></td>
            <td><a href="/famimain/show/<%= obj.iteminfo.id %>"><%= obj.iteminfo.name %></a></td>
            <td><%= obj.buycount %></td>
            <td><%= Famimain.new.timecal(obj.iteminfo.itemtime, obj.created_at) %></td>
            <td><%= obj.iteminfo.genre.name %></td>
            <td><a href="/discards/add/<%= obj.id %>">廃棄登録</a></td>
            <td>即廃棄</td>
        </tr>
        <% end %>
    <% end %>
</table>

<hr>
<h3>販売可能商品データ</h3>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr><th>作成ID</th><th>商品名</th><th>販売個数</th><th>販売可能時間</th><th>ジャンル名</th><th></th><th>商品状態</th></tr>
    </thead>
    <% @data.each do |obj| %>
        <% if Famimain.new.timecalnos(obj.iteminfo.itemtime, obj.created_at) >= 0 && Discard.find_by(itemcreate_id: obj.id) == nil%>
        <tr>
            <td><%= obj.id %></td>
            <td><a href="/famimain/show/<%= obj.iteminfo.id %>"><%= obj.iteminfo.name %></a></td>
            <td><%= obj.buycount %></td>
            <td><%= Famimain.new.timecal(obj.iteminfo.itemtime, obj.created_at) %></td>
            <td><%= obj.iteminfo.genre.name %></td>
            <td><a href="/discards/add/<%= obj.id %>">廃棄登録</a></td>
            <td>販売可能</td>
        </tr>
        <% end %>
    <% end %>
</table>

<% if @page_num > 0 %>
    <a href="/famimain/<%= @page_num - 1 %>"> ＜＜前のページ</a>
<% end %>
<span>  </span>
<a href="/faminain/<%= @page_num + 1 %>">次のページ＞＞</a>