<div class="body-title">販売データの表示</div>
<hr>

<div class="genres">ジャンルごとに表示</div>
<div class="genre-nav">
    <div class="col-12 clearfix">
        <div class="float-left">
        <% @genres.each do |genre|%>
            <div class="inline-blocks"><a href="/famimain/genre/<%= genre.id %>"><%= genre.name %></a></div>
        <% end %>
        </div>
    </div>
</div>


<hr>

<h3>要廃棄登録データ</h3>
<table class="table table-bordered">
    <thead>
    <tr><th>作成ID</th><th>商品名</th><th>販売個数</th><th>販売可能時間</th><th>ジャンル名</th><th>商品状態</th><th></th></tr>
    </thead>
    <% @data.each do |obj| %>
        <% if Famimain.new.timecalnos(obj.iteminfo.itemtime, obj.created_at) < 0 && obj.buycount != 0 %>
        <tr>
            <td><%= obj.id %></td>
            <td><a href="/famimain/show/<%= obj.iteminfo.id %>"><%= obj.iteminfo.name %></a></td>
            <td><%= obj.buycount %></td>
            <td><%= Famimain.new.timecal(obj.iteminfo.itemtime, obj.created_at) %></td>
            <td><%= obj.iteminfo.genre.name %></td>
            <td>即廃棄</td>
            <td><a href="/discards/add/<%= obj.id %>">廃棄登録</a></td>
        </tr>
        <% end %>
    <% end %>
</table>

<hr>
<h3>販売可能商品データ</h3>

<table class="table table-bordered">
    <thead>
    <tr><th>作成ID</th><th>商品名</th><th>販売個数</th><th>販売可能時間</th><th>ジャンル名</th><th>商品状態</th><th></th></tr>
    </thead>
    <% @data.each do |obj| %>
        <% if Famimain.new.timecalnos(obj.iteminfo.itemtime, obj.created_at) >= 0 &&  obj.buycount != 0  %>
        <tr>
            <td><%= obj.id %></td>
            <td><a href="/famimain/show/<%= obj.iteminfo.id %>"><%= obj.iteminfo.name %></a></td>
            <td><%= obj.buycount %></td>
            <td><%= Famimain.new.timecal(obj.iteminfo.itemtime, obj.created_at) %></td>
            <td><%= obj.iteminfo.genre.name %></td>
            <td>販売可能</td>
            <td><a href="/discards/add/<%= obj.id %>">廃棄登録</a></td>
        </tr>
        <% end %>
    <% end %>
</table>

<% if @page_num > 0 %>
    <a href="/famimain/<%= @page_num - 1 %>"> ＜＜前のページ</a>
<% end %>
<span>  </span>
<a href="/faminain/<%= @page_num + 1 %>">次のページ＞＞</a>